<div class="container">

  <div ng-click="">
  <a>Upload Video</a>

        Upload on form submit or button click
        <form ng-app="fileUpload"  name="form">
          Single Image with validations
          <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'video/*'"
            ngf-accept="'video/*'" ngf-max-size="200MB">Select</div>
         
          <button type="submit" ng-click="submit()">submit</button>
        </form>

        Upload right away after file selection:
        <div class="button" ngf-select="upload($file)">Upload on file select</div>

        Video preview: <video controls ngf-src="file"></video>

  </div>
  <br>
  <br>
  <br>
  <div id="searchContainer">
    <form>
      <input id="field" name="youtubeurl" ng-model="dynamic.video" type="text" />
      <div id="delete"><span id="x">x</span></div>
      <input id="submit" name="submit" type="submit"  value="Search" />
    </form>
  </div>
  <nav>
    <a ng-click="signuppage()">signup</a>
  </nav>
  <div class="embed-responsive embed-responsive-16by9 video-wrapper">
    <youtube-video class="embed-responsive-item" video-url="dynamic.video"></youtube-video>
  </div>

  <footer>
    <a href="#" class="border-button">Didnt find translatiom for your video, contact us!</a>
    <a href="#" class="view-advanced">Watch most viewed and popular videos.</a>
  </footer>
</div>
