<div class="container">
  <a>Upload Video</a>

        Upload on form submit or button click
        <form  name="form">
          Single Image with validations
          <input class="button" ngf-select ng-model="videofile" name="file" type="file" ngf-pattern="'video/*'"
            ngf-accept="'video/*'" ngf-max-size="200MB">
         
          <button type="submit" ng-click="submit(videofile)">submit</button>
        </form>

      
        Video preview: <video controls ngf-src="file"></video>

  </div>
  <br>
  <br>
  <br>
  <div id="searchContainer">
    <form>
      <input id="field" name="youtubeurl" ng-model="dynamic.video" type="text" />
      <input id="submit" name="submit" type="submit"  value="Search" />
    </form>
  </div>
  <nav>
    <a ng-click="signuppage()">signup</a>
  </nav>
  <div class="embed-responsive embed-responsive-16by9 video-wrapper">
    <youtube-video class="embed-responsive-item" video-url="dynamic.video"></youtube-video>
  </div>

  <div>
    <a href="#" >Didnt find translatiom for your video, contact us!</a>
    <a href="#" >Watch most viewed and popular videos.</a>
  </div>
</div>
