<div>
  <h1>SignUp to turbo-charge your experience.</h1>
  <form ng-submit="signup()">
      <input type="text" ng-model="signup.first_name" name="registerFirstName" placeholder="first_name">  
      <input type="text" ng-model="signup.last_name" name="registerLastName" placeholder="last name">
      <input type="text" ng-model="signup.username" name="registerUserName" placeholder="username">
      <input type="email" ng-model="signup.email" name="registerEmail" placeholder="email">
      <input type="password" ng-model="signup.password" name="registerPassword" placeholder="password">
      <input type="submit" value="SignUp">
  </form>
</div>